- 👋 Hi, I’m @Phoenix2022offical
- 👀 I’m interested in ...
- 🌱 I’m currently learning ...
- 💞️ I’m looking to collaborate on ...
- 📫 How to reach me ...

<!---
Phoenix2022offical/Phoenix2022offical is a ✨ special ✨ repository because its `README.md` (this file) appears on your GitHub profile.
You can click the Preview link to take a look at your changes.
--->
/*(megnem tekintet)*/

:root {
--accent: rgb(0 0 0);
--font: "Public Sans", sans-serif;
--white: rgb(255, 255, 255);
}

.header__logo a:before {
    content: "Magyar";
    color: var(--white);
    display: inline-flex;
    font-family: var(--font);
    font-size: 10px;
}

.header__logo a:after {
    content: "Anime";
    font-weight: 700;
    color: var(--accent);
    font-family: var(--font);
    font-size: 15px;
}



/*eltüntetés*/

.header__logo img {
  display: none;
}


.header__logo {
display: flex;
    font-size: 24px;
    padding: 0;
}

.header__logo {
flex-direction: column;
    align-items: center;
}


											        /*****************************/
                                                                                              /*****************************/
                                                                       ┏╋━━━━━━◥◣◆◢◤━━━━━━╋┓
                                                                                            /*Készítette; Dark_Phoenix*/
                                                                                  ┗╋━━━━━━◥◣◆◢◤━━━━━━╋┛
                                                                                           //***************************//
                                                                                          //***************************//
